// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, #app, .container-fluid {
    height: 100%;
}

main {
    min-height: 100%;
}

body {
    height: 100%;
    background: black;
    // font-family: 'Roboto Mono', monospace!important;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 100%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

.text-overlay-wrapper {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(black, 0.5);
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.credit-overlay-wrapper {
    position: absolute;
    bottom: 8px;
    right: 8px;
    max-width: 100%;
}

.craze-link, .craze-credit-link {
    color: white;
    &:hover, &:focus {
        color: white;
        text-decoration: none;
    }
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    a {
        flex: 1 1 auto;
    }
}

.left-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 2 1 auto;
}

h1, h2 {
    color: white;
    display: inline-block;
    font-family: 'Bungee Shade', cursive;
}

.craze-volume {
    text-align: center;
    font-size: 1rem;
}

.prompt {
    color: white;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    vertical-align: super;
    text-align: center;
}

.select-css {
	font-size: 16px;
    font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	color: dimgray;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
    margin: 0;
    margin-bottom: 0.5rem;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

.datepicker-text {
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    input {
        width: 100%;
    }
}

.flatpickr-input {
    min-width: 190px;
    margin-bottom: 0.5rem;
    border-radius: 0;
    height: 40px;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    color: #444;
    margin-left: 0.5rem;
    ::placeholder {
        color: #444;
        opacity: 1;
    }
}

.btn.btn-light {
    color: #444;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    margin-left: 0.5rem;
}

.form-control[readonly] {
    background-color: white;
}

.flatpickr-calendar {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}

.no-trends {
    min-height: 55vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.no-trends-text {
    display: block;
}

footer {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    a {
        color: white;
        &:hover, &:visited, &:focus {
            color: white;
            text-decoration: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .grid-sizer,
    .grid-item { width: 50%; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .nav-wrapper {
        flex-direction: row;
    }

    .grid-sizer,
    .grid-item { width: 33.33333%; }

    .left-nav-wrapper {
        flex-direction: row;
    }

    .select-css {
        margin-bottom: 0;
    }

    .flatpickr-input {
        margin-bottom: 0;
    }

    .no-trends {
        min-height: 90vh;
    }

    .prompt {
        display: inline-block;
        margin-bottom: 0.25rem;
        text-align: left;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .grid-sizer,
    .grid-item { width: 25%; } 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1317px) { 
 .prompt {
    margin-left: 1rem;
 }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) { 
    .grid-sizer,
    .grid-item { width: 20%; }  
}